/* Eu fiz esses arquivos css em pastas para caso haja alguma alteração específica no css para não ficar mexendo no bootstrap */
.titulo{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.instagram{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #6B9160 !important;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.boardTexto3 
{ 
    background-color: #6B9160 !important;
    border-radius: 10px;
    padding: 0.5rem;
    margin:auto;
    margin-bottom : 2rem;
    margin-top : 50px;
    width: 80%;
    text-align: center;
}

.boardTexto4 
{  
    background-color: #6B9160 !important;
    border-radius: 10px;
    padding: 0.5rem;
    margin:auto;
    margin-bottom : 2rem;
    margin-top : 50px;
    width: 60%;
    text-align: center;

}